# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# obsidian configs
src/pages/.obsidian/
**/.obsidian/
.obsidian/

# template folder 
src/pages/_templates/

# page assets
src/pages/**/_assets/

# husky 
.husky/

# sync jobs
sync-assets.sh